
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* font-family: "Algerian", cursive; */
    font-size: 15px;
    height: 100vh;
    background: linear-gradient(to bottom, #E5990B, #967adc ); 
    color: #ffffff; /* Text color */
}
.custom-button {
    background-color: #239C0B; 
    color: #fff; 
 
}

#divres {
    display: none; /* Hide the div by default */
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid blue;
    height: auto;
    padding: 10px;
    width: 90%;
    text-align: center; /* Center the text content horizontally */
    justify-content: center; /* Center contents horizontally */
    align-items: center; /* Center contents vertically */
}

 img {
    margin: auto; 
    display: block; 
    width: 100px;
    border-radius: 15px;
}



#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 10000;
}









